.btn-warning {
  color: white !important;
  font-weight: 600 !important;
}

.navbar-brand {
  color: #1c1c1c;
  font-size: 2rem !important;
}

.sign-in {
  border: 1px solid #f1b536;
  background-color: transparent;
  color: #f1b536;
  padding: 8px 20px;
  margin: 0 5px;
  font-weight: bold;
}

.sign-up {
  border: none;
  font-weight: bold;
  background-color: #f1b536;
  color: #fafafa;
  padding: 8px 20px;
  margin: 0 5px;
}

.nav-link {
  color: #1c1c1c;
}

.home-section {
  position: relative;
  width: 100%;
}

.home-section .landing-row {
  margin: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section .landing-row .head-container .heading p {
  font-size: 5rem !important;
  font-weight: 900;
  width: 80%;
}

.home-section .landing-row .head-container .heading .offer {
  color: #888;
  font-size: 1rem !important;
  font-weight: 500;
  margin: 10px 0;
}

.home-section .landing-row .head-container .heading .landing-btn {
  background-color: #F1B536;
  color: #fafafa;
  font-size: 1.5rem;
  padding: 5px 40px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.home-section .landing-row .landing-img img {
  width: 100% !important;
}

.login {
  width: 100%;
  position: relative;
}

.login .close {
  position: absolute;
  width: 20px;
  top: 80px;
  left: 60px;
}

.login .login-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.login .login-container .login-form {
  padding: 0 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.login .login-container .login-form .login-heading {
  margin-bottom: 60px;
}

.login .login-container .login-form .login-heading h1 {
  color: #1c1c1c;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}

.login .login-container .login-form .login-heading p {
  color: #2c2c2c;
  font-size: 18px;
  font-family: sans-serif;
}

.login .login-container .login-form .login-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  position: relative;
}

.login .login-container .login-form .login-input span .user {
  width: 20px;
  position: absolute;
  bottom: 115px;
  left: 0px;
}

.login .login-container .login-form .login-input span .password {
  width: 20px;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.login .login-container .login-form .login-input input {
  padding-bottom: 5px;
  outline: none;
  font-size: 22px;
  color: #452790;
  margin: 25px 0;
  border: none;
  border-bottom: 2px solid #452790;
}

.login .login-container .login-form .login-submit .login-btn {
  margin-top: 100px;
  padding: 15px 0;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  width: 100%;
  background-color: #F1B52F;
}

.login .login-container .login-form .login-submit p {
  text-align: left !important;
  color: #F1B52F;
  margin-top: 8px;
}

.login .login-container .login-form .login-foot {
  font-size: 22px;
  margin-top: 120px;
  font-family: sans-serif;
}

.login .login-container .login-form .login-foot span a {
  color: #F1B52F;
  text-decoration: none;
}

.login .login-container .login-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.login .login-container .login-img img {
  width: 80%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */